/***************************************************************
    $Rev$
    $Author$
    $Date$
    $URL$
***** (c) DIAF e.V. *******************************************/

#menue {
    float:left;
    width:15%;
    height:400px;
    font-size:0.9em;
    text-align:center;
}

#main {
    float:right;
    width:83%;
    margin-right:10px;
}

#test {
    float:right;
    width:84%;
    margin-right:10px;
    background:#ffffe6;
    color:#400010;
    border:1px dotted #400010;
}

#bereichssuche {
    float:left;
}

#bereichssymbole {
    float:right;
}

#status {
    position:fixed;
    bottom:10px;
}

#login {
    position:absolute;
    top:100px;
    left:100px;
    text-align:center;
    z-index:1000;
}

a:link		{text-decoration:none; color:darkblue}
a:visited	{text-decoration:none; color:darkblue}
a:hover		{text-decoration:underline; color:blue}
a:active	{text-decoration:none}

body {
    background:#f8f7e6 url(images/bg.png);
    font-family: sans-serif;
}

h2  {color:#0080ff; text-align:center;}
img {border:none; vertical-align:middle}

ul.noBullet {
    list-style-type:none;
    margin-left:-20px;
}

/***** Tabellenformate *************************************************/
table {
    border:none;
}

tr.darkBG {
    background-image:url(images/bg_dark.png);
}

td {
    vertical-align:top;
    /* padding und white-space:nowrap;  <-- wirkt sich auf Tooltipps aus */
    /* border:1px dotted gray; /* zu testzwecken */
}

/***** Formularelemente ***********************************************/
fieldset {
    border:groove 2px #E7E4E0;
    padding:10px;
}

legend {
    font-size:1.0em;
    padding-left:10px;
    padding-right:10px;
}

input {
    border:1px inset #cccc99;
    margin:2px;
    vertical-align:middle
}

textarea {
    border:inset 1px;
}

textarea.big {
    width:440px;
    height:300px;
}

textarea.medium {
    width:350px;
    height:220px;
}

textarea.small {
    width:350px;
    height:150px;
}

input[type='text'],[type='password'] {
    width:250px;
}

input[type='text'].halb {
    width:125px;
}

input[type='text'].lang {
    width:500px;
}

input[type='submit'],[type='button'] {
    background-color:#c0c0c0;
    color:black;
    border:1px outset #303000;
    width:125px;
    margin:2px
}

select {
    border:1px inset #cccc99;
    width:250px; margin:2px
}

button {
    cursor: pointer;
    width:120px;
    margin:2px;
    border:1px black solid;
    background-color:#CCC;
}

button.noBG {
    background-image:url(images/bg.png);
    border:none;
}

button.small {
    background-image:url(images/bg.png);
    border:none;
    width:20px;
}

/* für Länderflaggen im Menübereich */
button.flag {
    background-image:url(images/bg.png);
    border:none;
    width:34px;
    height:22px;
}

button.small_dk {
    background-image:url(images/bg_dark.png);
    border:none;
    width:20px;
}


/***** Eigene Klassen ***********************************************/
.top {
    vertical-align:top;
}

.re {
    text-align:right;
    padding-right:10px;
}

.mittig {
    text-align:justify;
}

.fett {
    font-weight: bold
}

.re {
    text-align: right;
}

.invers {
    background:#F1FFC9;
    color:#102000
}

.ready {
    background:#F1FFC9;
    color:#007f00;
    text-align:right;
    font-size:smaller;
}

.note {
    color: #A0A0A0;
    font-size: smaller;
    font-stretch:semi-condensed;
    white-space:normal
}

.big {
    font-size:28px;
    font-weight:bold;
    padding-left:50px;
    padding-top:10px;
}

.darkBG {
    background-image:url(images/bg_dark.png);
}

/***** Darstellungsfenster **********************************************/
.bereich {
    font-size:20px;
    font-weight:bold;
    color:#0080ff;
    padding:10px;
    margin-bottom:10px;
}

.bereich_fuss {
    clear:both;
    border-bottom:1px solid #0080ff;
    margin-bottom:10px;
    padding-bottom:5px;
}

.warng {
    font-family:monospace;
    text-decoration:blink;
    white-space:pre;
    color:#C00010;
    background-color: #FFEf00;
    border:1px solid #C00010;
    font-weight:normal;
    margin: 5px;
    padding:5px;
}

.error {
    font-family:monospace;
    white-space:pre;
    color:#C00010;
    background-color: #FFEfEf;
    border:1px solid #C00010;
    font-weight:normal;
    margin: 5px;
    padding:5px;
    /*text-align:center;*/
}

.visor {
/* Internes Arbeitsmittel für Breakpoints und Testausgaben */
    position:relative;
    margin:20px;
    font-family:monospace;
    white-space:pre;
    color:#004000;
    background-color:#eeffee;
    border:1px dotted #008000;
    padding:5px;
    z-index:99
}

