/* $Id$ */

@import "base.css";
@media screen {
    #menue {
        position: fixed;
        float: left;
        width:15%;
        overflow: auto;
    }

    #status {
        position: fixed;
        bottom: 10px;
    }

    #main {float: right; width:85%;}
    .darkBG {}
    button.small {}
    button.small_dk {}
}

@media print {
    /* Regeln für Drucker */
    #menue {display: none; }
    #status {display: none;}
    #main {
        clear: none;
        width: 100%;
    }

    button.small {display: none;}
    button.small_dk {display: none;}
}

ul.noBullet {}

textarea.big {
    width: 440px;
    height: 300px;
}

textarea.medium {
    width: 350px;
    height: 220px;
}

textarea.small {
    width: 350px;
    height: 150px;
}

input[type='text'], [type='password'] {}
input[type='text'].halb {}
input[type='text'].lang {}
input[type='submit'], [type='button'] {}
select {}
button {}
button.noBG {}
button.flag {}

/* für Länderflaggen im Menübereich */
#bereich {}

/* Überschrift und Suchfeld -> Bereich */
#bearbzeile {overflow: auto;}

#bearbbtn {float: right;}
#left {float: left;}
#einzug {padding-left: 3em;}

#portrait_gross {
    width: 100px;
    height: 135px;
    float: right;
    margin: 1em 2em 1em 1em;
}

#portrait_klein {
    width: 40px;
    height: 50px;
    float: right;
}

div#overDiv {
    position: absolute;
    visibility: hidden;
}

.top {}
.re {}
.mittig {}
.fett {}
.invers {}
.ready {}
.note {}
.big {}
.darkBG {}
.error {
    /* Fehlermeldungen für Nutzer */
}

.warng {
    /* Warnhinweis - doppelte Datensätze etc. */
}

.hinw {
}

.erfolg {
    /* Erfolgsmeldung für Nutzer */
}
.newstitel {}
.newstext {
    white-space: normal;
}